.buttonsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;

    button {
        background: transparent;
        border: 0;
        font-size: 0;

        transition: filter 0.2s;

        
        &:disabled {
            cursor: not-allowed;
            opacity: 0.2;
        }
        
        &:hover:not(:disabled) {
            filter: brightness(0.7);
        } 
        
        &.active {
            filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
        }

        &.active:hover {
            filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
        }

        &.playButton:not(.minified button.playButton) {
            width: 4rem;
            height: 4rem;

            border-radius: 1rem;
            background: var(--purple-400);
            
            transition: filter 0.2s, background 0.2s;

            &:hover {
                filter: brightness(0.97);
            }

            &.playing {
                background: var(--purple-800);
            }
        }

    }
}

@media (max-width: 560px) {
    .buttonsContainer.minified {
        button:first-child,
        button:last-child {
            display: none;
        }
    }    
}