.homepage {
    padding: 0 4rem;

    height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    
    section {
        max-width: 63.5rem;
    }

    .latestEpisodes {
        ul {
            display: flex;
            justify-content: center;
            /* grid-template-columns: repeat(2, 1fr); */
            
            gap: 1.5rem;
            
            list-style: none;        
        } 
    }
    
    .allEpisodes {
        padding-bottom: 2rem;
    }    
}

@media (max-width: 767px) {
    .homepage {
        .latestEpisodes {
            ul {
                flex-direction: column;
            }
        }
    }
}

@media (max-width: 1439px) {
    .homepage {
        height: calc(100vh - 6.5rem - var(--minified-player-height) - var(--footer-height));
    }
}