.container {
    --top-padding: 0.5rem;
    padding: var(--top-padding) var(--side-padding);
    height: var(--minified-player-height); 

    display: flex;
    align-items: center;
    gap: 2rem;
    
    background: var(--purple-500);
    
    .emptyPlayer,
    > div:first-child {
        height: calc(var(--minified-player-height) - 1rem);
        width: calc(var(--minified-player-height) - 1rem);
        min-width: calc(var(--minified-player-height) - 1rem);
    }

    > div:first-child:not(.emptyPlayer) {
        border: 2px solid var(--purple-400);
        border-radius: 1.5rem;
    }
    
    .emptyPlayer {    
        display: flex;
            
        &::after {
            content: '';
            width: 100%;
            height: 100%;

            background: var(--purple-gradient);
            border: 1px dashed var(--purple-300);
            border-radius: 1.5rem;
        }
    }

    .playerContent {
        min-width: 0; /* Fix flex breaking on white-space: norap; */

        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        strong {
            font-family: Lexend, sans-serif;
            font-weight: 600;
            color: var(--white);                
        }

        .episodeDetails {    
            display: flex;
            align-items: center;
            max-width: 100%;
            overflow: hidden;

            
            strong {
                max-width: 70%;    
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            span {
                white-space: nowrap;
                margin-left: 0.75rem;
                padding-left: 0.75rem;
                position: relative;
                font-size: 0.875rem;
                font-weight: 400;
                color: var(--white);
                opacity: 0.6;

                &::before {
                    content: "-";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    
        > div:not(:first-child) {
            display: flex;
            align-items: center;
            gap: 1.25rem;
                
            .controls div {
                margin-top: 0;
            }

            .progress {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 1rem;

                &.empty {
                    opacity: 0.5;
                }

                span {
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: var(--white);
                }

                .slider {
                    flex: 1;

                    .emptySlider {
                        height: 4px;
                        border-radius: 2px;
                        background: var(--purple-300);
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        --top-padding: 0;

        .emptyPlayer,
        > div:first-child { /* Esconde a imagem */
            display: none!important;
        }

        .playerContent {
            width: 100%;
        }
    }
}

@media (max-width: 480px) {

}